<div class="byTheNumbers">
    <img src="@Image" width="200px" />
    <h1>
        By The Numbers
    </h1>
    <h2>@Wins Wins</h2>
    <h2>@Losses Losses</h2>
    <h2>(since @Since.Value.Date.ToShortDateString())</h2>

    <h2>Pins: @Pins</h2>
    <h2>Techs: @Techs</h2>
    <h2>Decisions: @Points</h2>
    <h2>Bonus Rate: @Bonus.ToString("P")</h2>
    <h2>Average Points Scored: @OffPts</h2>
    <h2>Average Points Given Up: @DefPts</h2>
</div>